body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px 0px;
  font-size: 16px;
  margin: 10px 0px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

table#movies {
  width: 500px;
  border-spacing: 0px;
}

table#movies td {
  border: 1px solid;
  margin: 0px;
  padding: 5px;
}

.ajs-message.ajs-success.ajs-visible {
  width: 600px;
  right: 630px !important;
}